<div class="navbar-lewagon">
  <%= link_to 'All cocktails', cocktails_path, class:"btn btn-light" %>

  <!-- displayed on laptops -->
  <div class="navbar-lewagon-actions d-none d-sm-flex">
      <%= link_to 'New cocktail', new_cocktail_path, class:"btn btn-light" %>
    <div class="dropdown dropleft">
      <img src='http://pngimg.com/uploads/cocktail/cocktail_PNG152.png' class="avatar dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"/>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <%= link_to new_cocktail_path, {class: "dropdown-item"} do  %>
          <span><i class="fas fa-plus-circle"></i> Add Cocktail</span>
          <% end %>
          <%= link_to cocktails_path, {class: "dropdown-item"} do  %>
          <span><i class="fas fa-glass-martini"></i> All cocktails</span>
          <% end %>
        </div>
     </div>
  </div>

  <!-- displayed on phone / tablet -->
  <div class="navbar-lewagon-actions d-block d-sm-none">
    <div class="dropdown">
      <i class="fas fa-bars" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
          <%= link_to new_cocktail_path, {class: "dropdown-item"} do  %>
          <span><i class="fas fa-plus-circle"></i> Add Cocktail</span>
          <% end %>
          <%= link_to cocktails_path, {class: "dropdown-item"} do  %>
          <span><i class="fas fa-glass-martini"></i> All cocktails</span>
          <% end %>
        </div>
    </div>
  </div>
</div>

